$colors: (
    primary: (
        "100": hsl(239, 57%, 85%),
        "200": hsl(238, 40%, 52%)
    ),
    secondary: (
        "100": hsl(357, 100%, 86%),
        "200": hsl(358, 79%, 66%)
    ),
    neutral: (
        "100": hsl(0, 0%, 100%),
        "200": hsl(228, 33%, 97%),
        "300": hsl(223, 19%, 93%),
        "400": hsl(211, 10%, 45%),
        "500": hsl(212, 24%, 26%),
        "900": hsl(0, 0%, 0%)
    )  
);
