$fonts: (
    size: (
        "xsm": 1.3rem,
        "sm": 1.6rem,
        "md": 2rem,
        "lg": 2.4rem,
    ),
    family: (
        "primary": #{"Rubik", sans-serif},
    ),
    weight: (
        "regular": 400,
        "medium": 500,
        "bold": 700,
    ),
    leading: (
        "normal": 1.5,
    )
);
